In [1]:
import pandas as pd
import re
from pptx import Presentation
from NodesLinesMatching import matching_lines_nodes

In [2]:
pptx_path = "TestFiles/test.pptx"
id_path = "TestFiles/id_ego24.xlsx"

In [3]:
def process_pptx_to_dataframe(pptx_path, id_path):
    """
    Extracts person names and matched edges (from â†’ to nodes) for each slide in a PPTX file,
    ensuring all slides are included even if no edges exist.

    Args:
        pptx_path (str): Path to the PowerPoint (.pptx) file.
        id_path (str): Path to the Excel file mapping names to id_ego.

    Returns:
        pd.DataFrame: DataFrame containing all slides, including those without extracted edges.
    """
    prs = Presentation(pptx_path)
    data = []  # Store slide information and edges

    for slide_num, slide in enumerate(prs.slides, start=1):
        sorted_edges, respondent, node_count, line_count = matching_lines_nodes(slide, slide_num)
        void_edge = int(line_count == 0)  # Indicator for missing edges

        # Store respondent and slide info (even if no edges exist)
        if node_count == 0 or line_count == 0:
            data.append([respondent, None, None, void_edge, slide_num])  # No nodes or edges, placeholders for "From" & "To"
        else:
            for from_text, to_text in sorted_edges:
                data.append([respondent, from_text, to_text, void_edge, slide_num])

    # Create DataFrame
    df = pd.DataFrame(data, columns=['Person Name', 'From', 'To', 'NoMeaningfulEdges', 'Slide Number'])

    # Load ID mapping and apply
    id_df_map = pd.read_excel(id_path).set_index('full name')['id_ego'].to_dict()
    df.insert(0, 'id_ego', df['Person Name'].map(id_df_map))  # Insert ID at the first column

    def clean_dataframe(df):
        """Remove illegal characters from all string values in the DataFrame."""
        if not isinstance(df, pd.DataFrame):  # Ensure df is a DataFrame
            raise TypeError("Expected a pandas DataFrame but got something else")
        
        # Convert the column to string type to ensure consistent processing of all values.
    # Use regex to remove any illegal ASCII control characters (range \x00-\x1F and \x7F) 
    # that can cause issues when saving to Excel.
    # The condition `if pd.notna(x) else x` ensures NaN values remain unchanged.
        for col in df.select_dtypes(include=['object']).columns:  # Select only string columns
            df[col] = df[col].astype(str).apply(lambda x: re.sub(r'[\x00-\x1F\x7F]', ' ', x) if pd.notna(x) else x)
        
        return df
    
    df = clean_dataframe(df)
    
    return df

In [4]:
df = process_pptx_to_dataframe(pptx_path, id_path)

In [5]:
df

,id_ego,Person Name,From,To,NoMeaningfulEdges,Slide Number
0,10512.0,Bleecker Alexander,General Love Friend + Romantic,Serenity,0,1
1,10512.0,Bleecker Alexander,Humor,Serenity,0,1
2,10512.0,Bleecker Alexander,Intellectualism,Humor,0,1
3,10512.0,Bleecker Alexander,Make a Difference,General Love Friend + Romantic,0,1
4,10512.0,Bleecker Alexander,Accomplishment,Intellectualism,0,1
5,10512.0,Bleecker Alexander,Organization,Make a Difference,0,1
6,10512.0,Bleecker Alexander,Discipline,Accomplishment,0,1
7,10512.0,Bleecker Alexander,Discipline,Organization,0,1
8,10512.0,Bleecker Alexander,General Love Friend + Romantic,Serenity,0,2
9,10512.0,Bleecker Alexander,Humor,Serenity,0,2
10,10512.0,Bleecker Alexander,Intellectualism,Humor,0,2
11,10512.0,Bleecker Alexander,Make a Difference,General Love Friend + Romantic,0,2
12,10512.0,Bleecker Alexander,Accomplishment,Intellectualism,0,2
13,10512.0,Bleecker Alexander,Organization,Make a Difference,0,2
14,10517.0,Cameron Eskandari,None,None,1,3
15,10576.0,Laura Tejeda,None,None,1,4
16,NaN,None,None,None,1,5

# Column Type Validation (Issue Caused by Adding Duplicate Columns)

In [6]:
print(type(df))

for col in df.columns:
    print(type(df[col]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>